.btn{
  position: relative;
  padding: 10px 25px; 
  color: black;
  background: green;
  border:0 ;
  cursor: pointer;
  top: 500px;
  left: -140px;
}

#rocket{
  position: relative;
  width: 150px;
  top: 450px;
}

